* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 30px;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
}

.search-box {
    flex-grow: 1;
    display: flex;
    max-width: 600px;
    margin: 0 150px;
}

.search-box input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 400px;
    margin-right: 10px;
    padding: 5px;
}

.search-box button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px 10px;
    background-color: #dc3545;
    border: none;
    color: white;
}

.icon-link {
    color: #555;
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 20px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.icon-link:hover {
    color: #000;
}

.icon-link i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.dropdown-menu {
    min-width: 10rem;
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle {
    cursor: pointer;
}